@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@()

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    GIRAN
                </a>
            </li>
            <!-- <li>
                <a href="#">About</a>
            </li> -->
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Github Repo ANalyser</h1>
                    <!--<p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
                    <p>
                        This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Dynamic content -->
    <div id="app">
    </div>

    <!-- Router element -->
    <router></router>

    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
